<div class="menu">
  <ul class="list">
      <li>
        <a class="anasayfa" routerLink="/dashboard"> Anasayfa</a> 
      </li>
      <li>
          <a href="/communication">İletişim</a>
      </li>

      <li>
        <a class="aretuza">aretuza</a>
      </li>


  </ul>
  <li>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
      <div routerLink="/shoppingCart">
      <span class="sepet">
        <a><span class="material-icons">shopping_cart</span></a>
      </span>
      
    </div>
  </li>
</div>


<router-outlet></router-outlet>