
<!--<div  class="siparis">
    <form>
        <br><br>
        Adı:<br />
        <input type="text" name="adi" /><br /> <br>
        Soyadı:<br />
        <input type="text" name="soyadi" />
        <br/> <br>
       Adres:<br/>
       <input type="text" name="adres" /><br/> <br>
       

       Telefon Numaranız:
       <input type="number" name="numara" />

       <br/> <br>
       Doğum Tarihi:
      <input type="date" name="dogumtarihi" />

      <br/>
     

     <br><br>
     Siparişinizin Teslim Edilmesini İstediğiniz Tarih ve Saati Giriniz :
     <input type="datetime-local" name="tarihsaatdakika" />

     <br><br>
     <td><input type="email" name="cc" /></td>

      </form>

</div> -->

<!--<!DOCTYPE html>
<html>
<head>
    <title>Web Tasarım</title>
    <meta charset="utf-8">
    </head>-->

  <!--<body>
        
            <form>
                <fieldset>
                    <legend>
                        İletişim Formu
                    </legend>-->  
                
        <div class="genel">   
                <div class="tablo">     
                    
                    
                        <table border="1" style="border-color: white; width: 550px; height: auto;">
                            
                            <tr>
                                <td>Adınız: </td>
                                <td><input type="text" name="ad" onkeypress="return /[a-z]/i.test(event.key)" > </td>
                            </tr>
                            <tr>
                                <td>Soyadınız : </td>
                                <td><input type="text" name="soyad" onkeypress="return /[a-z]/i.test(event.key)" > </td>
                            </tr>
                            <tr>
                                <td>Adresiniz : </td>
                                <td><input type="text" name="adres"> </td>
                            </tr>

                            <tr>
 
                                    <td> <label for="emailAddress">E-Posta Adresiniz: </label>  </td> 
                                    <td>  <input id="emailAddress" type="email" size="28" maxLength="28" required
                                             placeholder="username@gmail.com" pattern=".+@gmail\.com"
                                             title="Please provide only a Best Startup Ever corporate e-mail address"></td>
                            </tr>

                            <tr>
                                <td>Telefonunuz : </td>
                                <td><input type="text" maxlength="10" name="mail" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1')" placeholder="(___)(_______)"> </td>
                            </tr> 
                            
                            <tr>
                                <td>TC Kimlik Numaranız : </td>
                                <td><input type="text" maxLength="11" name="tckimlik" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1')" placeholder="11 hane olmalıdır."> </td>
                            </tr>
                            
                            <tr>
                                <td>Kargo Şekli</td>
                                <td>
                                <label for="normal" style="font-size:medium" >Normal Kargo</label><input type="checkbox" id="normal" value="normal"><br>
                                <label for="jet" style="font-size:medium" >Jet Kargo</label><input type="checkbox" id="jet" value="jet"><br>
                                </td>
                            </tr>
                            
                            <tr>
                                <td>Mesajınız : </td>
                                <td><textarea cols="22" rows="7" name="mesaj"></textarea> </td>
                            </tr>
                            
                            

                            
                        
                        </table>
                       
                        
                        <!--</fieldset>
                        
                    </form> -->
                    
                    
                    <button>Siparişi Tamamla</button>
                </div>   
                
        </div>    
        
        <div class="genel2">
            <div class="wrap">
                <div class="product">
                    <div class="totalPrice"> Toplam Tutar = ${{totalPrice}}</div><br>
                    <div *ngFor="let product of products ">
                        <div class="column one-third">
                            <div class="simpleCart_shelfItem item">
                               <div class="item_image" style=" display: flex;
                               justify-content: center;"><img src="{{product.imagePath}}" style="height: 300px ; "></div>
                                 <h2 class="item_name">{{product.name}}</h2>
                                    <div  style="margin-top:10px;">
                                     <span class="price"> Ücret= ${{ product.price }} </span>
                               </div>
                             </div>
                             </div> 
                            </div>            
                    </div>
                </div>
                    
                
        </div>
        

    


    <!--</body>-->  
<!--</html> -->




<!--<div class="urunler">
<li *ngFor="let product of products ">
    <img class="resim" src="{{ product.imagePath }}"><br>
    <span class="name"> {{ product.name }}</span>
    <span class="price"> price={{ product.price }} TL </span></li>
    <span class="totalPrice"> total price= {{totalPrice}}</span>
</div> -->
    